@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap");

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  height: 300px;
  background-image: url("images/bg-desktop-light.jpg");
  transition: all 0.7s;
}

section {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  transition: all 0.7s;
}

.app {
  position: absolute;
  top: 0;
  left: 30%;
  top: 7%;
  /* border: 2px solid white; */
  width: 35rem;
  min-height: 40rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-plain {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 7px;
}

#theme-button:hover {
  cursor: pointer;
}

.dark-section {
  background-color: black;
}

.dark-image {
  background-image: url("images/bg-desktop-dark.jpg");
}

#theme-button {
  transition: all 0.7s;
}

.custom-input,
.task {
  border: none;
  width: 100%;
  margin: 20px auto;
  border-radius: 5px;
  -webkit-appearance: none;
  outline: none;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.first {
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.task-title {
  width: fit-content;
  margin: auto 30px;
}

.current-tasks{
  width: 100%;
  /* border: 1px solid black; */
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
}
.task {
  width: 100%;
  background-color: white;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.task input[type="radio"] {
  width: 30px;
  height: 30px;
  position: relative;
}

input[type="radio"]:checked + label > img {
}
input[type="radio"]:checked:after {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: -2px;
  left: -1px;
  position: absolute;
  background: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  content: url("images/icon-check.svg");
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
  text-align: center;
}

hr{
  padding: 0;
  margin: 0;
}