@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap");

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
  height: 300px;
  background-image: url("images/bg-desktop-light.jpg");
  transition: all 0.7s;
}

section {
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: all 0.7s;
}

.app {
  position: absolute;
  top: 0;
  left: 30%;
  top: 7%;
  /* border: 2px solid white; */
  width: 35rem;
  min-height: 40rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 7px;
}

#theme-button:hover {
  cursor: pointer;
}

.dark-section {
  background-color: black;
}

.dark-image {
  background-image: url("images/bg-desktop-dark.jpg");
}

#theme-button {
  transition: all 0.7s;
}

.custom-input {
  border: none;
  padding: 20px 10px;
  width: 100%;
  margin: 20px auto;
  border-radius: 5px;
  -webkit-appearance: none;
  outline: none;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.first{
    margin-bottom: 20px;
}