body{
    padding:0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

header{
    width: 100%;
    height: 300px;
    background-image: url("images/bg-desktop-dark.jpg");
}

section{
    width: 100%;
    height:100vh;
    background-color: black;
}

.app{
    position: absolute;
    top:0;
    left: 30%;
    top:7%;
    border: 2px solid white;
    width: 35rem;
    min-height: 40rem;
}